h1{
    color: #90B494;
}

.foto1{
    float: left; 
    width: 100px;
    margin-right: 5px;
}

.foto2{
    float: left; 
    width: 100px;
    margin-right: 5px;
}

.foto3{
    float: left; 
    width: 100px;
    margin-right: 5px;
}

span{
    color:#92B9BD;
}

main{
    background-color:aliceblue;
}

.card {
    background-color:aliceblue;
}

p{
    width:200px;
    color:whitesmoke ;
    font: oblique bold 90% cursive;
}

a:link, a:visited{
    
    color:white;
    text-decoration: none;
}

.Updates{
    height: 150px;
}

.Grafica{
    width: 450px;
    height: 250px;
    
}
img{
    width: 150px;
    align: right;
}
li{
    height: 30px;
    list-style: none;
    color: #DBCFB0;
    text-decoration: none;
}
li::marker{
    color: black;
}
header{
    display: block;
    padding: 12px;
    background-color: #545775;
    text-align: right;
}

.FotoPersona{
    float: left;
    width: 60px;
    padding-right: 5px ;
}

header a{
    display: block;
    color:white;
}
aside{
    background-color: #BFC8AD;
}
.container{
    margin: 0;
}

footer{
    position: absolute;
    bottom: 0;
    height: 100px;
    width:100%;
    padding-top: 20px;
    
}

h2{
    color:#92B9BD;
}

h5{
    color:#92B9BD;
}
.card{
    padding: 20px;
}

[class^="col"]{
    display: inline-block;
}

[class^="group"] span{
    font-size: 14px;
    font-weight: 700; 
    display: block;
}
button, .buton{
    background: magenta;
    border: magenta;
    color: black;
}