* {
    font-family: Arial;
}

h1 {
    color: green;
    text-align: center;
}

header {
    display: block;
    padding: 12px;
    background-color: blue;
    text-align: right;
}

header a {
    display: block;
    color: white;
}

main {
    display: block;
    background-color: mintcream;
}

ul li {
    list-style: none;
    display: block;
    width: 50px;
    height: 100px;
    font-size: 20px;
}

.lista {
    color: rebeccapurple;
}

aside {
    background-color: skyblue;
    margin-bottom: 0;
}

.container {
    margin: 0;
}

footer {
    background-color: blue;
    height: 50px;
    bottom: 0;
    position: absolute;
    padding-top: 12px;
    color: white;
    width: 100%;
    font-size: 20px;
}

.subcuadro1 {
    text-align: center;
    font-size: large;
    display: block;
}

.subcuadro3 {
    text-align: center;
    font-size: medium;
    display: block;
}

.subcuadro2 {
    margin-left: 55px;
    font-size: xx-large;
}

img {
    margin-top: 30px;
}

.titulo {
    font-size: large;
    text-align: left;
    margin-left: 30px;
}

.encabezado {
    text-align: center;
}

.card {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-left: 30px;
    margin-top: 40px;
    border-color: gray 2px solid;
}

.btn.btn-primary {
    color: blue;
    background-color: mintcream;
    border-color: blue;
}